body {
    background-image: url("background.jpg");
}

h1, h2, h3 {
    text-align: center;
}

#homeTitle {
    background-color: red;

}

#tabArea { 
    position: absolute;
    top: 30px;
    right: 20px;
    align-self: right;
    background-color: blue;
}

#images { 
    margin-top: 50px;
}

.categoryIMG {
    height: 350px;
    width: 350px;
}

.category {
    background-color: green;
}

#aboutArea {
    background-color: blue;
}

#contactArea {
    background-color: purple;
    padding: 0px, 20px, 20px, 20px;
}

#contactLeft {
    float: left;
    padding-right: 20px;
}

input {
    margin-top: 10px;
}

#contactRight {
    float: left;
}

#description {
    text-align: center; 
    display: inline;
}

#contactSubmit {
    clear: both;
    padding-top: 20px;
    text-align: center;
}